<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body 
    ng-app="sandbox"
    ng-controller="EntityController" 
    style="text-align:center">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Entity</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entity in entities"
                ng-click="model.selectedEntity = entity"
                ng-class="{ 'table-active': model.selectedEntity == entity }">
                <td></td>
                <td>{{ entity }}</td>
                <td>Restricted (No NDA)</td>
            </tr>
        </tbody>
    </table>

    <a ng-href="portfolios.html?entity={{model.selectedEntity}}" class="btn btn-primary">Submit</a>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="sandbox.js"></script>
</head>